* {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

:root {
   --text-color: #333;
   --primary-color: #ee4d2d;
   --yellow-color: #FFCE3D;
}

.primary-color {
   background-color: #ee4d2d;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
   line-height: 1.6rem;
   font-family: "Roboto", sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

li {
   list-style: none;
}

// Reponsive

.gird {
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
}

.gird__full-width {
   width: 100%;
}

.gird__row {
   display: flex;
   flex-wrap: wrap;
}

.gird__roww {
   display: flex;
   flex-wrap: wrap;
   margin-left: -5px;
   margin-right: -5px;
}

// Test
.gird__column-2 {
   padding-left: 5px;
   padding-right: 5px;
   width: 16.6667%;
}

.gird__column-10 {
   padding-left: 5px;
   padding-right: 5px;
   width: 83.3334%;
}

.gird__column-2-4 {
   padding-left: 5px;
   padding-right: 5px;
   width: 20%;
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeIn-1 {
   from {
      opacity: 0.6;
   }

   to {
      opacity: 1;
   }
}

@keyframes headerNotify {
   from {
      transform: scale(0);
      opacity: 0;
   }

   to {
      transform: scale(1);
      opacity: 1;
   }
}

// Modal