* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #1ab394;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  // width: 100%;
  max-width: 100%;
  border-radius: 2px;
}
.mt-35 {
  margin-top: 35px;
}
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 1.2rem;
}
.hover_img {
  transition: 0.15s;
  cursor: pointer;
  &:hover {
    opacity: 0.8 !important;
  }
}
.hover_text:hover {
  color: #23c6c8 !important;
  cursor: pointer;
}

/* CSS */
.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  border-radius: 4px;
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  & span {
    color: #000000;
  }
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
